<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thebenk.divideanddestress">

    <application
        android:name="com.thebenk.divideanddestress.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.thebenk.divideanddestress.EditAssignmentActivity"/>
        <activity android:name="com.thebenk.divideanddestress.DisplayAssignmentActivity"/>
        <activity android:name="com.thebenk.divideanddestress.CreateAssignmentActivity"/>
        <activity
            android:name="com.thebenk.divideanddestress.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>